:root { 
--blue_200_a2:#91c6ffa2; 
--gray_50_01:#fcfafa; 
--blue_A400:#1b6fff; 
--light_green_A700:#21c107; 
--black_900_90:#00000090; 
--blue_gray_900_a2:#0d1d54a2; 
--blue_300_01:#5facff; 
--red_400:#eb5757; 
--blue_300_02:#60acff; 
--light_blue_A700_6c:#007afe6c; 
--black_900_4c_01:#0000004c; 
--light_blue_400_75:#17c7ff75; 
--black_900_01:#030229; 
--black_900_00:#00000000; 
--light_blue_A700:#007afe; 
--blue_gray_900_02:#25293b; 
--blue_gray_900_01:#0c1c53; 
--blue_gray_900:#0d1d54; 
--blue_gray_900_87:#0d1d5487; 
--blue_400_99:#4da2fe99; 
--black_900_02:#000606; 
--deep_orange_100:#ecbdbb; 
--gray_400:#afafaf; 
--blue_gray_100:#d5d5d5; 
--green_A700_99:#03b60099; 
--black_900_0f:#0000000f; 
--light_blue_200_75:#7ec9ff75; 
--orange_600:#ee9003; 
--indigo_200:#9ab3da; 
--black_900_99:#03022999; 
--blue_100:#b2ceff; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--light_blue_A700_87:#007afe87; 
--light_blue_A700_02:#017afd; 
--light_blue_A700_01:#017afc; 
--black_900_5e:#0302295e; 
--red_700:#d92c20; 
--blue_gray_50:#edf0f6; 
--blue_A700:#005efe; 
--blue_gray_100_01:#d2d6db; 
--red_600_99:#fa2a2a99; 
--light_blue_A700_4c:#007afe4c; 
--gray_50:#f8f8f8; 
--red_50:#fef2f1; 
--white_A700_cc:#ffffffcc; 
--gray_500_01:#a7a7a7; 
--red_500_99:#ff424299; 
--gray_500:#a3a2a2; 
--blue_A200_0c:#5b92ff0c; 
--blue_gray_100_99:#d9d9d999; 
--blue_800:#035cbd; 
--gray_900:#231f20; 
--gray_500_a8:#b3aaaaa8; 
--gray_100:#f3f2f2; 
--red_600:#fa2a2a; 
--orange_600_01:#ee9004; 
--black_900_3f:#0000003f; 
--green_500:#43986d; 
--white_A700_99:#ffffff99; 
--green_A700:#03b600; 
--gray_200_01:#e7e7e7; 
--blue_gray_700:#404b7c; 
--black_900_4c:#0e0d0d4c; 
--gray_600:#6f6f6f; 
--light_blue_A200_90:#3fd1ff90; 
--blue_700:#307abf; 
--gray_200:#f1f0f0; 
--blue_50:#e3f0f8; 
--gray_100_03:#f5f6f7; 
--gray_100_02:#f7f4f4; 
--gray_100_01:#f6f6f6; 
--blue_300:#689fff; 
--white_A700:#ffffff; 
--blue_A100_01:#85b7ff; 
--deep_orange_50:#fee3e1; 
--black_900_99_01:#00000099; 
--light_blue_A700_19:#007afe19; 
--blue_A200_3d:#5b93ff3d; 
--blue_A100:#86b7ff; 
--blue_gray_100_49:#d9d9d949; 
--blue_A700_87:#005efe87; 
--red_100:#ffcdcd; 
--black_900_23:#00000023; 
--black_900:#000000; 
--blue_gray_900_0c:#26334d0c; 
--gray_900_a2:#231f20a2; 
--blue_50_02:#e2f0ff; 
--blue_50_01:#d5e9ff; 
--white_A700_a0:#ffffffa0; 
--blue_gray_50_01:#f1f1f2; 
--gray_700:#585454; 
--white_A700_6c:#ffffff6c; 
--blue_gray_900_07:#26334d07; 
--blue_gray_400:#8d8f98; 
--gray_900_87:#231f2087; 
--blue_gray_900_05:#2f2f2f; 
--red_A100:#f68d88; 
--blue_gray_900_04:#333333; 
--white_A700_a2:#ffffffa2; 
--blue_gray_900_03:#292d32; 
--gray_300:#e3e1e1; 
--gray_300_01:#e6e6e6; 
--white_A700_87:#ffffff87; 
--black_900_33:#00000033; 
--white_A700_01:#fdfeff; 
--blue_100_01:#c4e0ff; 
--blue_200:#97beff; 
--blue_100_02:#c8e3ff; 
}